<ng-container *ngIf="dataNotFound === false">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search...">
    </mat-form-field>
  </div>
  <div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="data" matSort class="mat-elevation-z8">
      <!-- Title -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row?.title}}</mat-cell>
      </ng-container>
      <!-- Platform -->
      <ng-container matColumnDef="platform">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Platform</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row?.platform}}</mat-cell>
      </ng-container>
      <!-- score -->
      <ng-container matColumnDef="score">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Score</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row?.score}}</mat-cell>
      </ng-container>
      <!-- genre -->
      <ng-container matColumnDef="genre">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Genre</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row?.genre}}</mat-cell>
      </ng-container>
      <!-- Editors Choice -->
      <ng-container matColumnDef="editors_choice">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Editors Choice</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row?.editors_choice}}</mat-cell>
      </ng-container>
      <!-- Release Year-->
      <ng-container matColumnDef="release_year">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Release Year</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row?.release_year}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
    <div class="btn">
      <div class="nextPage"></div>
    </div>
    <div class="pagination">
      <mat-paginator [length]="length"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="pageSizeOptions"
                     (page)="pageEvent = $event">
      </mat-paginator>
    </div>
  </div>
</ng-container>
<div *ngIf="dataNotFound === true" class="notFound">
  Data not found please check organization or repository name
</div>
